<div class="form-group">
  <label for="title">Blog title</label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control" Placeholder="Give blog a title">
</div>
<div class="form-group">
  <label for="description">Blog description</label>
  <textarea name="description" id="description" class="form-control" Placeholder="Add blog description"><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Blog</label>
  <textarea required name="markdown" id="markdown" class="form-control" Placeholder="Add blog here. You can use also markdown."><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
